################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Services/Catalog/Catalog.API/obj
/src/Services/Catalog/Catalog.API/bin/Debug/net5.0
/src/.vs/aspnet-runmicroservice/DesignTimeBuild
/src/obj
/src/Services/Basket/Basket.API/bin/Debug/net5.0
/src/Services/Basket/Basket.API/obj
/src/Services/Discount/Discount.API/bin/Debug/net5.0
/src/Services/Discount/Discount.API/obj
/src/.vs/aspnet-runmicroservice/FileContentIndex
/src/Services/Discount/Discount.Grpc/bin/Debug/net5.0
/src/Services/Discount/Discount.Grpc/obj
